<section class="section-callout">
  <div class="container">
    <div class="callout">
      <div class="callout__inner">
        <div class="callout__head">
          <h3 class="callout__title">Keep in Touch</h3><!-- /.callout__title -->

          <p>Sign up for our monthly newsletter and join us on social!</p>
        </div><!-- /.callout__head -->

        <div class="callout__body">
          <div class="search">
            <script>
              (function () {
                window.mc4wp = window.mc4wp || {
                  listeners: [],
                  forms: {
                    on: function (evt, cb) {
                      window.mc4wp.listeners.push({
                        event: evt,
                        callback: cb
                      });
                    }
                  }
                }
              })();
            </script><!-- Mailchimp for WordPress v4.7.8 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
            <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-16" method="post" data-id="16"
              data-name="FIO Newsletter">
              <div class="mc4wp-form-fields"><label for="field-search" class="hidden">Search</label>

                <div class="search__inner">

                  <input type="email" name="EMAIL" id="field-search" placeholder="Enter Email Address"
                    class="search__field" required="">

                  <i class="ico-email">
                    <svg>
                      <use href="#ico-email"></use>
                    </svg>
                  </i>

                  <input type="submit" class="search__btn">
                </div><!-- /.search__inner -->


              </div><label style="display: none !important;">Leave this field empty if you're human: <input
                  type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input
                type="hidden" name="_mc4wp_timestamp" value="1604075286"><input type="hidden" name="_mc4wp_form_id"
                value="16"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1">
              <div class="mc4wp-response"></div>
            </form><!-- / Mailchimp for WordPress Plugin -->
          </div><!-- /.search -->

          <div class="socials">
            <ul>

              <li>
                <a href="https://t.me/joinFIO" class="bg-send">
                  <i class="ico-send"></i>
                </a>
              </li>

              <li>
                <a href="https://twitter.com/joinFIO" class="bg-twitter">
                  <i class="ico-twitter">
                    <svg>
                      <use href="#ico-twitter"></use>
                    </svg>
                  </i>
                </a>
              </li>

              <li>
                <a href="https://discord.gg/pHBmJCc" class="bg-discord">
                  <i class="ico-discord"></i>
                </a>
              </li>

              <li>
                <a href="https://www.facebook.com/officialFIO" class="bg-facebook">
                  <i class="ico-facebook">
                    <svg>
                      <use href="#ico-facebook"></use>
                    </svg>
                  </i>
                </a>
              </li>

              <li>
                <a href="https://www.linkedin.com/company/officialfio/" class="bg-linkedin">
                  <i class="ico-linkedin">
                    <svg>
                      <use href="#ico-linkedin"></use>
                    </svg>
                  </i>
                </a>
              </li>

              <li>
                <a href="https://www.reddit.com/r/officialFIO" class="bg-reddit">
                  <i class="ico-reddit">
                    <svg>
                      <use href="#ico-reddit"></use>
                    </svg>
                  </i>
                </a>
              </li>
            </ul>
          </div><!-- /.socials -->
        </div><!-- /.callout__body -->
      </div><!-- /.callout__inner -->

      <div class="callout__bg"
        style="background-image:url({{ '/assets/img/cta-bg.png' | absolute_url }})"></div>
      <!-- /.callout__bg -->
    </div><!-- /.callout -->
  </div><!-- /.container -->
</section><!-- /.section-callout -->
