<footer class="footer">
  <div class="container">
    <div class="footer__inner row">
      {% for column in site.data.footer %}
        <div class="col-12 col-md-3">
          <h4>{{column.heading}}</h4>
          <ul>
            {% for link in column.links %}
              {% if link.url contains 'http' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = '' | relative_url %}
              {% endif %}
              {% if link.title %}
                <li>
                  <a href="{{ domain }}{{ link.url }}"{% if link.blank %} target="_blank" rel="noopener" {% endif %}>
                    <i class="ico-arrow-right">
                      <svg>
                        <use xlink:href="#ico-arrow-right"></use>
                      </svg>
                    </i>
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div><!-- /.footer__inner -->

    <div class="footer__bar">
      <ul id="menu-sub-footer-menu" class="list-links">
        <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-449"><a
            href="{{ site.footer.link.url | relative_url }}">{{ site.footer.link.title }}</a></li>
      </ul>
      <p class="copyright">{{ site.footer.copyright }}</p><!-- /.copyright -->
    </div><!-- /.footer__bar -->
  </div><!-- /.container -->
</footer><!-- /.footer -->








        </ul>
        <div class="uk-margin-auto-top">
          <a class="uk-logo uk-link-muted" href="{{ "/" | relative_url }}">
            {% if site.logo_light or site.logo %}
              {% if site.logo_light %}
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="uk-logo-inverse" data-src="{{ site.logo_light | absolute_url }}" alt="{{ site.title }}" data-uk-img>
              {% endif %}
              {% if site.logo %}
                <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ site.logo | absolute_url }}" alt="{{ site.title }}" data-uk-img>
              {% endif %}
            {% else %}
              {{ site.title }}
            {% endif %}
          </a>
        </div>
      </div>
      <div class="uk-width-1-2@m uk-h5 uk-text-spacing uk-text-uppercase">
        {% if site.footer.address %}
          <address class="uk-margin">{{ site.author.address }}</address>
        {% endif %}
        {% if site.footer.phone %}
          <div class="uk-margin"><a href="tel:{{ site.author.phone }}">{{ site.author.phone }}</a></div>
        {% endif %}
        {% if site.footer.email %}
          <div class="uk-margin"><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></div>
        {% endif %}
        {% if site.footer.social %}
          <div class="uk-margin">
            <div>
              {% include social-networks.html %}
            </div>
          </div>
        {% endif %}
        {% if site.footer.copyright %}
          <div class="uk-margin-large-top uk-text-xsmall uk-text-muted uk-link-muted"></div>
        {% endif %}
      </div>
    </div>
  </div> 
</footer>
