<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>


<link rel="stylesheet" id="cookie-notice-front-css" href="{{ '/assets/css/front.css' | relative_url }}" type="text/css" media="all">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<script type="text/javascript">
  //<![CDATA[
  var cnArgs = {
    "ajaxUrl": "https:\/\/fioprotocol.io\/wp-admin\/admin-ajax.php",
    "nonce": "c7bd4944e1",
    "hideEffect": "fade",
    "position": "bottom",
    "onScroll": "0",
    "onScrollOffset": "100",
    "onClick": "0",
    "cookieName": "cookie_notice_accepted",
    "cookieTime": "7862400",
    "cookieTimeRejected": "2592000",
    "cookiePath": "\/",
    "cookieDomain": "",
    "redirection": "0",
    "cache": "0",
    "refuse": "0",
    "revokeCookies": "0",
    "revokeCookiesOpt": "automatic",
    "secure": "1",
    "coronabarActive": "0"
  };
  //]]>
</script>

<script type="text/javascript" src="{{ '/assets/js/front.min.js' | relative_url }}"></script>



